{% if list_category == 'book' %}
    {% with title=book.title listType="PastWL" %}
        {% include 'pastFutureWatchlistAndFavorites/pastWLModal.html' %}
    {% endwith %}
    
    {% with title=book.title listType="Faves"%}
        {% include 'pastFutureWatchlistAndFavorites/favesModal.html' %}
    {% endwith %}

    {% with title=book.title listType="FWL" %}
        {% include 'pastFutureWatchlistAndFavorites/futureWLModal.html' %}
    {% endwith %}

{% elif list_category == 'movie' %}
    {% with title=movie.Title listType="PastWL" %}
        {% include 'pastFutureWatchlistAndFavorites/pastWLModal.html' %}
    {% endwith %}

    {% with title=movie.Title listType="Faves"%}
        {% include 'pastFutureWatchlistAndFavorites/favesModal.html' %}
    {% endwith %}

    {% with title=movie.Title listType="FWL" %}
        {% include 'pastFutureWatchlistAndFavorites/futureWLModal.html' %}
    {% endwith %}

{% elif list_category == 'tv' %}
    {% with title=movie.Title listType="PastWL" %}
        {% include 'pastFutureWatchlistAndFavorites/pastWLModal.html' %}
    {% endwith %}

    {% with title=movie.Title listType="Faves"%}
        {% include 'pastFutureWatchlistAndFavorites/favesModal.html' %}
    {% endwith %}

    {% with title=movie.Title listType="FWL" %}
        {% include 'pastFutureWatchlistAndFavorites/futureWLModal.html' %}
    {% endwith %}

{% elif list_category == 'boardgame' %}
    {% with title=game.name listType="PastWL" %}
        {% include 'pastFutureWatchlistAndFavorites/pastWLModal.html' %}
    {% endwith %}

    {% with title=game.name listType="Faves"%}
        {% include 'pastFutureWatchlistAndFavorites/favesModal.html' %}
    {% endwith %}

    {% with title=bogameonamele listType="FWL" %}
        {% include 'pastFutureWatchlistAndFavorites/futureWLModal.html' %}
    {% endwith %}

{% elif list_category == 'videogame' %}
    {% with title=game.name listType="PastWL" %}
        {% include 'pastFutureWatchlistAndFavorites/pastWLModal.html' %}
    {% endwith %}

    {% with title=game.name listType="Faves"%}
        {% include 'pastFutureWatchlistAndFavorites/favesModal.html' %}
    {% endwith %}

    {% with title=game.name listType="FWL" %}
        {% include 'pastFutureWatchlistAndFavorites/futureWLModal.html' %}
    {% endwith %}
{% endif %}