.env
*.jpg
db.sqlite3
*.pyc

# Ignore Python cache files
# Ignore SQLite database
db.sqlite3
*.pyc
*/__pycache__/*
*__pycache__*
api_app/api_app/__pycache__
api_app/__pycache__/*
accounts/__pycache__/*
review_app/__pycache__/*
*.pyc
__pycache__/


/staticfiles/
/static/

.DS_Store