{% extends 'main/base.html' %}

{%block title %} Profile Page {%endblock title %}
{% block content %}
<h1>{{ profile.user.username }}'s Profile</h1>
<p>Bio: {{ profile.bio }}</p>
<button><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></button>

{% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
{% endif %}

<div class="list-section">
    <h1> Movies </h1>
    {% if profile.watchlist.movies %}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for movie in profile.watchlist.movies|slice:"-4:" %}
                    <div class="col">
                        <div class="card h-100" style="width: 18rem;">
                            <img class="card-img-top" src="{{ movie.poster }}" alt="{{ show.title }} Poster">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ movie.title }}</strong> ({{ movie.year }})</p>
                                <p class="card-text">Directed by: {{ movie.director }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No shows in your watchlist yet.</p>
    {% endif %}
</div>

<div class="list-section">
    <h1> TV </h1>
    {% if profile.watchlist.tv %}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for show in profile.watchlist.tv %}
                    <div class="col">
                        <div class="card h-100" style="width: 18rem;">
                            <img class="card-img-top" src="{{ show.poster }}" alt="{{ show.title }} Poster">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ show.title }}</strong> ({{ show.year }})</p>
                                <p class="card-text">Directed by: {{ show.director }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No shows in your watchlist yet.</p>
    {% endif %}
</div>


<div class="list-section">
    <h1> Games </h1>
    {% if profile.watchlist.games %}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for game in profile.watchlist.games %}
                    <div class="col">
                        <div class="card h-100" style="width: 18rem;">
                            <img class="card-img-top" 
                                src="{{ game.poster }}" 
                                alt="{{ game.title }} Poster">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ game.title }}</strong> ({{ game.year }})</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No games in your watchlist yet.</p>
    {% endif %}
</div>

<div class="list-section book-section">
    <h1> Books </h1>
    {% if profile.watchlist.books %}
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for book in profile.watchlist.books %}
                    <div class="col">
                        <div class="card h-100" style="width: 18rem;">
                            <img class="card-img-top" 
                                src="{{ book.cover_url }}" 
                                alt="{{ book.title }} Cover">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ book.title }}</strong></p>
                                <p class="card-text">Authored by: {{ book.author }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No books in your watchlist yet.</p>
    {% endif %}
</div>

{% endblock %}