{% extends 'main/base.html' %}

{%block title %} Profile Page {%endblock title %}

{% block content %}
<div class="section">
    <h1>{{ profile.user.username }}'s Profile</h1>

<div class="section profile-img">
    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
    {% endif %}
</div>

<div class="section profile-bio">
    <p>Bio: {{ profile.bio }}</p>
</div>

<div class="section profile-settings btn-group">
    <a href="{% url 'accounts:edit_profile' %}"><button type="button" class="btn btn-primary">Edit Profile</button></a>
</div>

<div class="section btn-group2">
    <form method="get">
        <a href="#"><button type="submit" name="lists" value="view_lists" class="btn btn-secondary">View Lists</button></a>
        <a href="#"><button type="submit" name="lists" value="view_favorites" class="btn btn-secondary">View Favorites</button></a>
    </form>
</div>

<div class="section watchlist-items">
    {% include 'Profile/ProfileComponents/categoryDropDown.html' %}
    
    
    {% if selected_content == "view_lists" %}
        {% include 'Profile/ProfileComponents/watchlist_futurepast.html' %}

    {% elif selected_content == "view_favorites" %}
        <p>Add faves here</p>
    {% endif %}
</div>

<script>
    function updateDropdown(selectedText) {
        document.getElementById('dropdownMenuButton1').innerText = selectedText;
    }
</script>

{% endblock %}
