{% if request.GET.display_watchlist_item %}
    {% with category_map=request.GET.display_watchlist_item %}
        {% if category_map == 'movie' or category_map == 'tvseries' %}
            <h1> {{ category_map|title }} </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowMovie.html' with watchlist=watchlist.movies %}
        {% elif category_map == 'videogame' %}
            <h1> Video Games </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowGame.html' with watchlist=watchlist.video_games %}
        {% elif category_map == 'boardgame' %}
            <h1> Board Games </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowGame.html' with watchlist=watchlist.games %}
        {% elif category_map == 'book' %}
            <h1> Books </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowBooks.html' with watchlist=watchlist.books %}
        {% else %}
            <h1>Select a category to display items</h1>
        {% endif %}
    {% endwith %}
{% else %}
    <h1>Select a category to display items</h1>
{% endif %}
