<nav class="nav nav-tabs d-flex justify-content-evenly">
    {% include 'profile/ProfileComponents/categoryDropDown.html' %}
    {% include 'profile/ProfileComponents/watchlist/watchlistType.html' %}
</nav>

{% if request.GET.display_watchlist_type == 'pastWL' %}
    {% with watchlist=profile.watchlist_past %}
        {% include 'profile/ProfileComponents/watchlist/watchlistDisplay.html' %}
    {% endwith %}
{% elif request.GET.display_watchlist_type == 'futureWL' %}
    {% with watchlist=future_watchlist %}
        {% include 'profile/ProfileComponents/watchlist/watchlistDisplay.html' %}
    {% endwith %}
{% endif %}
