{% extends "main/base.html" %}

{% block title %} Search Results {% endblock %}

{% block content %}
    <div class="border-primary mx-auto" style="margin-top: 100px;width: 50%;">
        <h2>Search Results for {{ category|title }}</h2>
        <form method="post" class="d-flex flex-row" action="{% url 'review_app:search' category %}">
            {% csrf_token %}
            <input class="form-control me-2 text" type="search" name="query" placeholder="Search for {{ category }}..." value="{{ query }}" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    {% if results %}
        <ul>
            {% for item in results %}
                {% if category == 'movies-tv' %}
                    <a href="{% url 'review_app:item_details' category item.imdbID %}">{{ item.Title }} ({{ item.Year }})</a>
                {% elif category == 'games' %}
                    <a href="{% url 'review_app:item_details' category item.id %}">{{ item.name }} ({{ item.yearpublished }})</a>
                {% elif category == 'books' %}
                    <a href="{% url 'review_app:item_details' category item.olid %}">{{ item.title }}</a>
                {% endif %}
            <li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}
