{% if list == past_watchlist or list == future_watchlist or list == favorites %}
    {% if query is not None %}
        <h4> Search Results for '{{query}}'</h4>
        {% for result in query_results%}
            {% include 'Profile/activityViewCard.html' with list=query_results%}
        {% endfor %}
    {% else %}
        <h1>{{list_name}}</h1>
        <div class="row">
        {% for result in list %}
            <div class="col-md-3">
                {% include 'Profile/activityViewCard.html' with list=list remove_url=remove_url activity=activity%}
            </div>
        {% empty %}
            no results
        {% endfor %}
        </div>
{% endif %}

    
{% elif list == custom_watchlists %}
    <h1> {{list_name}} </h1>
        <div class="container">
            <div class="row">
                {% for item in custom_watchlists %}
                    <div class="col-md-4 mb-3">
                        <div class="card" style="width: 18rem;">
                                <img src="{{ item.image }}" class="card-img-top" alt="{{ item.list_name }}">
                            <div class="card-body">
                                <a href="#" class="card-link">
                                    <h5 class="card-title">{{ item.list_name }}</h5>
                                </a>
                                <h6 class="card-subtitle mb-2 text-muted">{{ item.year }}</h6> 
                                <p class="card-text">{{ item.list_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endif %}
{% comment %} {% endblock %} {% endcomment %}
