{% comment %} {% block content %} {% endcomment %}
{% if list != custom_watchlists %}
    <h1>{{list_name}}</h1>
    <div class="container">
        <div class="row">
            {% for item in list %}
                <div class="col-md-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        {% if item.image and item.image != "No Image" %}
                            <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
                        {% endif %}
                        <div class="card-body">
                            <a href="#" class="card-link">
                                <h5 class="card-title">{{ item.title }}</h5>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.year }}</h6>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% for result in all_search_results %}
    {% empty %}
    add something to show no results
    {% endfor %}
{% elif list == custom_watchlists %}
    <h1> {{list_name}} </h1>
        <div class="container">
            <div class="row">
                {% for item in custom_watchlists %}
                    <div class="col-md-4 mb-3">
                        <div class="card" style="width: 18rem;">
                                <img src="{{ item.image }}" class="card-img-top" alt="{{ item.list_name }}">
                            <div class="card-body">
                                <a href="#" class="card-link">
                                    <h5 class="card-title">{{ item.list_name }}</h5>
                                </a>
                                <h6 class="card-subtitle mb-2 text-muted">{{ item.year }}</h6> 
                                <p class="card-text">{{ item.list_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endif %}
{% comment %} {% endblock %} {% endcomment %}
