{% extends 'main/base.html' %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex" method="GET" action="">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name'search'>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% if activity == 'future_watchlist' %}
        {% include 'profile/activityView.html' with list_name="Future Watchlist" list=future_watchlist %}
    {% elif activity == 'favorites' %}
        {% include 'profile/activityView.html' with list_name="Favorites" list=favorites %}
    {% elif activity == 'past_watchlist' %}
        {% include 'profile/activityView.html' with list_name="Past Watchlist" list=past_watchlist %}
    {% elif activity == 'custom_watchlists' %}
        {% include 'profile/activityView.html' with list_name="Custom Lists" list=custom_watchlists %}
    {% endif %}
{% endblock %}
