{% extends 'main/base.html' %}

{%block title %} Profile Page {%endblock title %}
<style>
    img {
        display: block;
        max-width: 10%;
        height: auto;
    }
</style>

{% block content %}
{% include 'Profile/ProfileComponents/profileUserInfo.html' %}

<div class="section profile-settings btn-group">
    <a href="{% url 'api_app.accounts:edit_profile' %}"><button type="button" class="btn btn-primary">Edit Profile</button></a>
</div>

{% if four_favorites %}
    <div class="four-favorites container"> 
        <div class="row">
            {% for fave in four_favorites %}
                <div class="col" style="">
                    <div class="card justify-content-center" style="width: 12rem;">
                        {% if fave.image and fave.image != "No Image" %}
                            <img src="{{ fave.image }}" class="card-img-top" alt="{{ fave.title }}">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'review_app:item_details' fave.category fave.item_id %}" class="card-link">
                                <h5 class="card-title">{{ fave.title }}</h5>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ fave.year }}</h6>
                            <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ fave.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div>
    <div class="row">
        <div class="card col" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Watchlists</h5>
                <a href="{% url 'api_app.accounts:profile_activity' 'past_watchlist' %}" class="btn btn-primary">Past</a>
                <a href="{% url 'api_app.accounts:profile_activity' 'future_watchlist' %}" class="btn btn-primary">Future</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Favorites</h5>
                <a href="{% url 'api_app.accounts:profile_activity' 'favorites' %}" class="btn btn-primary">View Favorites</a>
            </div>
        </div>
        <div class="card col" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Custom Lists</h5>
                <a href="{% url 'api_app.accounts:profile_activity' 'custom_watchlists' %}" class="btn btn-primary">Go to Custom Lists</a>
                <a href="{% url 'lists:create_watchlist' %}"><button type="button" class="btn btn-dark">Create Custom Watchlist</button></a>
            </div>
        </div>
    </div>
</div>


{% comment %} <nav class="nav nav-tabs justify-content-center">
    <a href="{% url 'api_app.accounts:profile' %}?tab=watchlist" 
        class="nav-link {% if request.GET.tab == 'watchlist' or not request.GET.tab %}active{% endif %}" 
        aria-current="page">
        Watchlist
    </a>
    <a href="{% url 'api_app.accounts:profile' %}?tab=favorites" 
        class="nav-link {% if request.GET.tab == 'favorites' %}active{% endif %}" 
        aria-current="page">
        Favorites
    </a>
</nav> {% endcomment %}


{% comment %} {% if request.GET.tab == 'watchlist' or not request.GET.tab %}
    {% include 'profile/ProfileComponents/watchlist/watchlist.html' %}
{% elif request.GET.tab == 'favorites' %}
    <h2> Favorites Section </h2>
{% endif %} {% endcomment %}


{% endblock %}
