{% if not is_item_in_future_watchlist %}
    <form action="{% url 'api_app.accounts:add_to_future_watchlist' category item_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm"><i class="fa-solid fa-plus"></i>
            {% if list_category == 'movie' %}
                Will watch
            {% elif  list_category == 'tv' %}
                Will watch
            {% elif list_category == 'boardgame' %}
                Will play
            {% elif list_category == 'videogame' %}
                Will play
            {% elif list_category == 'book' %}
                Will read
            {% endif %}
        </button>
    </form> 
{% else %}
    <form action="{% url 'api_app.accounts:remove_from_future_watchlist' category item_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger" for="btncheck1" name="readlist_not_done" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm">
            <i class="fa-solid fa-minus"></i>
            {% if list_category == 'movie' %}
                Won't watch
            {% elif list_category == 'tv' %}
                Won't watch
            {% elif list_category == 'boardgame' %}
                Won't play
            {% elif list_category == 'videogame' %}
                Won't play
            {% elif list_category == 'book' %}
                Won't read
            {% endif %}
        </button>
    </form>
{% endif %}