{% extends "main/base.html" %}

{% block content %}
    {% include 'main/baseItemDetails/itemDetails.html' %}

    <div class="btn btn-group">
        {% include 'common/addRemoveButtonsPast.html' %}
        {% include 'common/addRemoveButtonsFuture.html' with category=category %}
        {% include 'common/addToFavoritesButton.html' with category=category %}
        <a href="/">Back to Home</a>
    </div>

    {% include 'common/addRemoveModal.html' %}
    

    <script>
        document.getElementById("openModalBtn").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent form submission
        });
    </script>
{% endblock %}
