{% extends "main/base.html" %}

{% block title %} Search Results {% endblock %}

{% block content %}
    <h2>Search Results for {{ category|title }}</h2>

    <form method="post" action="{% url 'review_app:search' category %}">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search for {{ category }}..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <ul>
            {% for item in results %}
                <li>{{ item.title }}</li>  {# Adjust fields based on your data structure #}
                {% if category == 'Movies and TV' %}
                    <a href="{% url 'review_app:movie_tv_detail' item.Title %}">{{ item.Title }} ({{ item.Year }})</a>

                {% elif category == 'games' %}
                    <li><a href="{% url 'review_app:game_detail' item.id %}">{{ item.name }} ({{ item.yearpublished }})</a></li>
                {% elif category == 'books' %}
                    <a href="{% url 'review_app:book_detail' item.olid %}">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}
