{% extends "main/base.html" %}

{% block title %} Search Results {% endblock %}

{% block content %}
    <h2>Search Results for {{ category|title }}</h2>

    <form method="post" action="{% url 'review_app:search' category %}">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search for {{ category }}..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <ul>
            {% for item in results %}
                {% if category == 'movies-tv' %}
                    <a href="{% url 'review_app:item_details' category item.imdbID %}">{{ item.Title }} ({{ item.Year }})</a>
                {% elif category == 'games' %}
                    <a href="{% url 'review_app:item_details' category item.id %}">{{ item.name }} ({{ item.yearpublished }})</a>
                {% elif category == 'books' %}
                    <a href="{% url 'review_app:item_details' category item.olid %}">{{ item.title }}</a>
                {% endif %}
            <li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}
