{% extends "main/base.html" %}

{% block content %}
    {% comment %} Media to display details for {% endcomment %}
    {% if book %}
        <h1>{{ book.title }}</h1>

        {% if book.authors %}
            <p>Author(s): 
                {% for author in book.authors %}
                    {{ author.author.key|slice:"10:" }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        {% if book.publish_date %}
            <p>Published: {{ book.publish_date }}</p>
        {% endif %}

        {% if book.number_of_pages %}
            <p>Pages: {{ book.number_of_pages }}</p>
        {% endif %}

        {% if book.isbn_13 %}
            <p>ISBN: {{ book.isbn_13.0 }}</p>
        {% endif %}

        {% if book.cover_url %}
            <img src="{{ book.cover_url }}" alt="{{ book.title }} cover">
        {% endif %}

        {% if book.description.value %}
            <p>{{book.description.value}}</p>
        {% endif %}

        {% comment %} <form action="{% url 'accounts:add_to_watchlist' 'book' book.olid %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Add to Booklist</button>
        </form> {% endcomment %}


        <a href="{% url 'review_app:search' 'books' %}?q={{ query }}">Back to Book Search Results</a>

    {% elif game %}
        <h1>{{ game.name }}</h1>
        {% if game.yearpublished %}
            <p>Year Published: {{ game.yearpublished }}</p>
        {% endif %}
        {% if game.description %}
            <p>Description: {{ game.description|safe }}</p>
        {% endif %}
        {% if game.minplayers %}
            <p>Min Players: {{ game.minplayers }}</p>
        {% endif %}
        {% if game.maxplayers %}
            <p>Max Players: {{ game.maxplayers }}</p>
        {% endif %}
        {% if game.playingtime %}
            <p>Playing Time: {{ game.playingtime }} minutes</p>
        {% endif %}
        {% if game.ratingaverage %}
            <p>Average Rating: {{ game.ratingaverage }}</p>
        {% endif %}
        {% if game.image %}
            <img src="{{ game.image }}" alt="{{ game.name }} Image" width="300">
        {% endif %}
        

        <a href="{% url 'review_app:search' 'games' %}?q={{ query }}">Back to Game Search Results</a>

    {% elif movie %}
        <h2>{{ movie.Title }}</h2>
        <p>Year: {{ movie.Year }}</p>
        <p>Director: {{ movie.Director }}</p>
        <p>Actors: {{ movie.Actors }}</p>
        <p>Plot: {{ movie.Plot }}</p>

        {% if movie.Poster %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster">
        {% endif %}

    {% else %}
        <p>Details not found.</p>
    {% endif %}

    <div class="btn btn-group">
        {% comment %} === BOOK === {% endcomment %}
        {% if book %}
            {% if book_olid %}
                <div class="watchlist-past-buttons">
                    <form action="{% url 'accounts:add_to_watchlist' 'book' book_olid %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary" for="btncheck1"><i class="fa-solid fa-plus"></i>readlist</button>
                    </form>
                    <form action="{% url 'accounts:remove_from_watchlist' 'book' book_olid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" for="btncheck1"><i class="fa-solid fa-minus"></i>readlist</button>
                    </form>
                </div>
                <div class="watchlist-future-buttons">
                    <button type="submit" class="btn btn-outline-primary" for="btncheck1"><i class="fa-solid fa-plus"></i>TO READ</button>
                    <button class="btn btn-outline-danger" for="btncheck1"><i class="fa-solid fa-minus"></i>TO READ</button>
                </div>
                <div class="favorites"></div>
            {% endif %}
        {% comment %} === BOARDGAMES === {% endcomment %}
        {% elif game.type == 'boardgame' %}
            <div class="watch-list-past-btn">
                <form action="{% url 'accounts:add_to_watchlist' 'game' game.gameID %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Played Boardgames List</button>
                </form>
                <form action="{% url 'accounts:remove_from_watchlist' 'game' game.gameID %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Remove from Played Boardgames List</button>
                </form>
            </div>
        {% comment %} === VIDEO GAMES === {% endcomment %}
        {% elif game.type == 'videogame' %}
            <div class="watchlist-past-btns videogame-watchlist-past-btns">
                <form action="{% url 'accounts:add_to_watchlist' 'video_game' game.gameID %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Played Video Games List</button>
                </form>
                <form action="{% url 'accounts:remove_from_watchlist' 'video_game' game.gameID %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Remove from Played Video Games List</button>
                </form>
            </div>
        {% comment %} === MOVIES === {% endcomment %}
        {% elif movie.Type == 'movie' %}
            <div class="watchlist-past-btns movie-watchlist-past-btns">
                <form action="{% url 'accounts:add_to_watchlist' 'movie' movie.Title|slugify %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Add to watched movies list</button>
                </form>
                <form action="{% url 'accounts:remove_from_watchlist' 'movie' movie.Title %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger">Remove from watched movies list</button>
                </form>
                <form action="{% url 'accounts:add_to_favorites' 'movie' movie.imdbID %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary">Favorite</button>
                </form>
            </div>
            <a href="{% url 'review_app:search' 'movies' %}?q={{ query }}">Back to Movie Search Results</a>
        {% comment %} === TV SERIES === {% endcomment %}
        {% elif movie.Type == 'series' %}
            <div class="watchlist-past-buttons">
                <form action="{% url 'accounts:add_to_watchlist' 'movie' movie.Title|slugify %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Add to TV Watchlist</button>
                </form>
                <form action="{% url 'accounts:remove_from_watchlist' 'tv' movie.Title %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger">Remove from TV Watchlist</button>
                </form>
            </div>
            <div class="watchlist-future-btns">
                <form action="" method="post">
                    {% csrf_token %}
                    {% comment %} put a plus icon {% endcomment %}
                    <button type="submit" class="btn btn-outline-primary">TO-WATCH Watchlist</button>
                </form>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% comment %} put a minus icon {% endcomment %}
                    <button class="btn btn-outline-danger">TO-WATCH Watchlist</button>
                </form>
            </div>
            <div class"favorite-btns">
                <form action="{% url 'accounts:add_to_favorites' 'tv' movie.imdbID %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary">Favorite</button>
                </form>
            </div>
        {% endif %}
    </div>

    <a href="/">Back to Home</a>


{% endblock %}
