{% extends "main/base.html" %}

{% block content %}
    {% comment %} Media to display details for {% endcomment %}
    {% if book %}
        <h1>{{ book.title }}</h1>

        {% if book.authors %}
            <p>Author(s): 
                {% for author in book.authors %}
                    {{ author.author.key|slice:"10:" }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        {% if book.publish_date %}
            <p>Published: {{ book.publish_date }}</p>
        {% endif %}

        {% if book.number_of_pages %}
            <p>Pages: {{ book.number_of_pages }}</p>
        {% endif %}

        {% if book.isbn_13 %}
            <p>ISBN: {{ book.isbn_13.0 }}</p>
        {% endif %}

        {% if book.cover_url %}
            <img src="{{ book.cover_url }}" alt="{{ book.title }} cover">
        {% endif %}

        {% if book.description.value %}
            <p>{{book.description.value}}</p>
        {% endif %}

        {% comment %} <form action="{% url 'accounts:add_to_watchlist' 'book' book.olid %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Add to Booklist</button>
        </form> {% endcomment %}


        <a href="{% url 'review_app:search' 'books' %}?q={{ query }}">Back to Book Search Results</a>

    {% elif game %}
        <h1>{{ game.name }} </h1>
        <h4>{{ game.type }} </h4>
        {% if game.yearpublished %}
            <p>Year Published: {{ game.yearpublished }}</p>
        {% endif %}
        {% if game.description %}
            <p>Description: {{ game.description|safe }}</p>
        {% endif %}
        {% if game.minplayers %}
            <p>Min Players: {{ game.minplayers }}</p>
        {% endif %}
        {% if game.maxplayers %}
            <p>Max Players: {{ game.maxplayers }}</p>
        {% endif %}
        {% if game.playingtime %}
            <p>Playing Time: {{ game.playingtime }} minutes</p>
        {% endif %}
        {% if game.ratingaverage %}
            <p>Average Rating: {{ game.ratingaverage }}</p>
        {% endif %}
        {% if game.image %}
            <img src="{{ game.image }}" alt="{{ game.name }} Image" width="300">
        {% endif %}
        

        <a href="{% url 'review_app:search' 'games' %}?q={{ query }}">Back to Game Search Results</a>

    {% elif movie %}
        <h2>{{ movie.Title }}</h2>
        <p>Year: {{ movie.Year }}</p>
        <p>Director: {{ movie.Director }}</p>
        <p>Actors: {{ movie.Actors }}</p>
        <p>Plot: {{ movie.Plot }}</p>

        {% if movie.Poster %}
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster">
        {% endif %}

    {% else %}
        <p>Details not found.</p>
    {% endif %}

    {% comment %} <div class="btn btn-group"> {% endcomment %}
        {% comment %} === BOOK === {% endcomment %}
        {% if book %}
            <div class="watchlist-past-buttons">
                {% if not book_in_consumed_media %}
                    <form action="{% url 'accounts:add_to_watchlist' 'book' book_olid %}"  method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary" 
                        for="btncheck1" name="readlist_done">
                        <i class="fa-solid fa-plus"></i>readlist</button>
                    </form>
                {% else %}
                <form action="{% url 'accounts:remove_from_watchlist' 'book' book_olid %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" 
                    for="btncheck1" name="readlist_not_done">
                    <i class="fa-solid fa-minus"></i>readlist</button>
                </form>
                {% endif %}
            </div>
            <div class="watchlist-future-buttons">
                <button type="submit" class="btn btn-outline-primary" for="btncheck1"><i class="fa-solid fa-plus"></i>TO READ</button>
                <button class="btn btn-outline-danger" for="btncheck1"><i class="fa-solid fa-minus"></i>TO READ</button>
            </div>
            <div class="favorites"></div>
        {% endif %}
        
        {% comment %} === VIDEO GAMES and BOARD GAMES=== {% endcomment %}
        {% if game %}
            {% if game.type == 'videogame' or game.type == 'rpg' or game.type == 'videogamecompany' or game.type == 'rpgcompany' or game.type == 'rpgperson' %}
                {% if not videogame_in_consumed_media  %}
                    <form action="{% url 'accounts:add_to_watchlist' 'game' game_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i>Played Video Games  List</button>
                    </form>
                {% else %}
                    <form action="{% url 'accounts:remove_from_watchlist' 'game' game_id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i>Played Video Games List</button>
                    </form>
                {% endif %}
            {% else %}
                {% if not boardgame_in_consumed_media %} 
                    <form action="{% url 'accounts:add_to_watchlist' 'game' game_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>APlayed Board Games List</button>
                    </form>
                {% else %}
                    <form action="{% url 'accounts:remove_from_watchlist' 'game' game_id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i>Played Board Games List</button>
                    </form> 
                {% endif %}
            {% endif %}
        {% endif %}
                
        {% comment %} === MOVIES/TV === {% endcomment %}
        {% if movie %}
            <div class="watchlist-past-btns movie-watchlist-past-btns">
                {% if movie.Type == 'movie' %}
                    {% if movietv_in_consumed_media == False %}
                        <form action="{% url 'accounts:add_to_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>Watched movies list</button>
                        </form>
                    {% else %}
                        <form action="{% url 'accounts:remove_from_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
                            {% csrf_token %}
                            <button type='submit' class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i>Watched movies list</button>
                        </form>
                    {% endif %}
                    <form action="{% url 'accounts:add_to_favorites' 'movies-tv' movie.Title|slugify %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary">Favorite</button>
                    </form>
                    </div>
                    <a href="{% url 'review_app:search' 'movies-tv' %}?q={{ query }}">Back to Movie Search Results</a>
                {% comment %} === TV SERIES === {% endcomment %}
                {% elif movie.Type == 'series' %}
                    {% if movietv_in_consumed_media == False %}
                        <form action="{% url 'accounts:add_to_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Watched TV Series</button>
                        </form>
                    {% else %}
                        <form action="{% url 'accounts:remove_from_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
                            {% csrf_token %}
                            <button type='submit' class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i> Watched TV Series</button>
                        </form>
                    {% endif %}
                    </div>
                    <div class="watchlist-future-btns">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% comment %} put a plus icon {% endcomment %}
                            <button type="submit" class="btn btn-outline-primary">TO-WATCH Watchlist</button>
                        </form>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% comment %} put a minus icon {% endcomment %}
                            <button class="btn btn-outline-danger">TO-WATCH Watchlist</button>
                        </form>
                    </div>
                    <div class"favorite-btns">
                        <form action="{% url 'accounts:add_to_favorites' 'tv' movie.imdbID %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-primary">Favorite</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endif %}

    <a href="/">Back to Home</a>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Successfully added {{ game.name }} to your played video games list
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
            </div>
        </div>
{% endblock %}