
    {% if selected_display_watchlist_item == 'movie' %}
        <form method="get" class="row1">
            <input type="hidden" name="display_watchlist_item" value="movie">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Watched</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Want to Watch</a>
                </li>
            </ul>
        </form>
        
        <div class="list-section movie-section row2">
            <h1> Movies </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowMovie.html' with watchlist=profile.watchlist_past.movies%}
        </div>
    {% elif  selected_display_watchlist_item == 'tvseries'%}
        <form method="get" class="row1">
            <input type="hidden" name="display_watchlist_item" value="tvseries">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Watched</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Want to Watch</a>
                </li>
            </ul>
        </form>
        <div class="list-section tv-section">
            <h1> TV </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowMovie.html' with watchlist=profile.watchlist_past.tv%}
            
        </div>
    {% elif  selected_display_watchlist_item == 'boardgame'%}
        <form method="get" class="row1">
            <input type="hidden" name="display_watchlist_item" value="boardgame">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Played</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Want to Play</a>
                </li>
            </ul>
        </form>
        <div class="list-section boardgames-section">
            <h1> Board Games </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowGame.html' with watchlist_games=profile.watchlist_past.games%}
        </div>
    {% elif selected_display_watchlist_item == 'videogame' %}
        <form method="get" class="row1">
            <input type="hidden" name="display_watchlist_item" value="videogame">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Played</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Want to Play</a>
                </li>
            </ul>
        </form>
        <div class="list-section video-games-section">
            <h1> Video Games </h1>
            {% include 'Profile/ProfileComponents/watchlist/watchlistRowGame.html' with watchlist_games=profile.watchlist_past.video_games%}
        </div>
    
        {% elif selected_display_watchlist_item == 'book' %}
            <form method="get" class="row1">
                <input type="hidden" name="display_watchlist_item" value="book">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Read</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Want to Read</a>
                    </li>
                </ul>
            </form>
            <div class="list-section book-section">
                <h1> Books </h1>
                {% include 'Profile/ProfileComponents/watchlist/watchListRowBooks.html' with watchlist_books=profile.watchlist_past.books%}
            </div> 
    {% endif %}
</div>