{% if not is_item_in_past_watchlist %}
    <form action="{% url 'api_app.accounts:add_to_watchlist' category item_id %}" method="POST">
        {% csrf_token %}
        <button type="submit" data-bs-toggle="modal" data-bs-target=".PastWL-modal" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> 
            {% if list_category == 'movie' %}
                Have watched
            {% elif  list_category == 'tv' %}
                Have watched
            {% elif list_category == 'boardgame' %}
                Have played
            {% elif list_category == 'videogame' %}
                Have played
            {% elif list_category == 'book' %}
                Have read
            {% endif %}
        </button>
    </form>
{% else %}
    <form action="{% url 'api_app.accounts:remove_from_watchlist' category item_id %}" method="POST">
        {% csrf_token %}
        <button type='submit' data-bs-toggle="modal" data-bs-target=".PastWL-modal" class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i> 
            {% if list_category == 'movie' %}
                Have watched
            {% elif  list_category == 'tv' %}
                Have watched
            {% elif list_category == 'boardgame' %}
                Have played
            {% elif list_category == 'videogame' %}
                Have played
            {% elif list_category == 'book' %}
                Have read
            {% endif %}
        </button>
    </form>
{% endif %}
