{% if game.type == 'videogame' or game.type == 'rpg' or game.type == 'videogamecompany' or game.type == 'rpgcompany' or game.type == 'rpgperson' %}
    {% if not videogame_in_consumed_media  %}
        <form action="{% url 'accounts:add_to_watchlist' 'game' game_id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm"><i class="fa-solid fa-plus"></i>Played Video Games  List</button>
        </form>
    {% else %}
        <form action="{% url 'accounts:remove_from_watchlist' 'game' game_id %}" method="POST">
            {% csrf_token %}
            <button data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm" class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i>Played Video Games List</button>
        </form>
    {% endif %}
{% else %}
    {% if not boardgame_in_consumed_media %} 
        <form action="{% url 'accounts:add_to_watchlist' 'game' game_id %}" method="post">
            {% csrf_token %}
            <button type="submit" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i>Played Board Games List</button>
        </form>
    {% else %}
        <form action="{% url 'accounts:remove_from_watchlist' 'game' game_id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target=".bd-example-modal-sm"><i class="fa-solid fa-minus"></i>Played Board Games List</button>
        </form> 
    {% endif %}
{% endif %}