{% if not is_item_in_past_watchlist %}
    <form action="{% url 'api_app.accounts:add_to_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target=".PastWL-modal"><i class="fa-solid fa-plus"></i>Watched movies list</button>
    </form>
{% else %}
    <form action="{% url 'api_app.accounts:remove_from_watchlist' 'movies-tv' movie.Title|slugify %}" method="POST">
        {% csrf_token %}
        <button type='submit' class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target=".PastWL-modal"><i class="fa-solid fa-minus"></i>Watched movies list</button>
    </form>
{% endif %}