<div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        {% if videogame_in_consumed_media == False %}
            <p> added {{game.name}} to video game list</p>
        {% elif videogame_in_consumed_media == True%}
            <p> removed {{game.name}} from video game list</p>
        
        {% elif boardgame_in_consumed_media == False %}
            <p> added {{game.name}} to board game list</p>
        {% elif boardgame_in_consumed_media == True %}
            <p> removed {{game.name}} from board game list</p>
       
        {% elif movietv_in_consumed_media == False %}
            <p> added {{movie.name}} to watchlist</p>
        {% elif movietv_in_consumed_media == True %}
            <p> removed {{movie.name}} from watch list</p>
       
        {% elif book_in_consumed_media == False %}
            <p> added {{book.name}} to readlist</p>
        {% elif book_in_consumed_media == True %}
            <p> removed {{book.name}} from readlist</p>
        {% else  %}
            <p> nothing happened </p>
        {% endif %}
      </div>
    </div>
  </div>